/* shoreditch resets */
body:not(.toolbar):not(.page-civicrm) {
  padding-top: 0 !important;
}
/* Workaround for too-wide currency select overlapping amounts. */
#s2id_currency .select2-choice {
  box-sizing: border-box;
}
/* Highlight important contact merge rows. */
.page-civicrm-contact-merge .crm-container .row-highlight tbody tr.crm-row-error td {
  background-color: #cf3458 !important;
}
